<ion-header>
    <ion-toolbar>
      <ion-title>FS-BnB Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Account Registration</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="First Name" [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <div>
          <ion-button size="medium" expand="block" (click)="register()">Create Account</ion-button>
        </div>
        <div>
          <ion-button size="medium" expand="block" (click)="backToLogin()">I Have An Account </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  
  </ion-content>