<ion-header>
  <ion-toolbar>
    <ion-title>Create Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Property Name</ion-label>
    <ion-input type="text" [(ngModel)]="listing.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input type="text" [(ngModel)]="listing.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Location</ion-label>
    <ion-input type="text" [(ngModel)]="listing.location"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Price (R per night)</ion-label>
    <ion-input type="text" [(ngModel)]="listing.price"></ion-input>
  </ion-item>

  <div align="center">
    <ion-button color="danger" (click)="createListing(listing)">List Property</ion-button>
  </div>
  
</ion-content>