<ion-header>
  <ion-toolbar>
    <ion-title>Book Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header align="center">
      <ion-card-title>{{listingName}} Booking Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="Date" placeholder="Start Date (MM/DD/YYYY)" [(ngModel)]="dateFrom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="Date" placeholder="End Date (MM/DD/YYYY)"  [(ngModel)]="dateTo"></ion-input>
      </ion-item>
      <div>
        <ion-button size="medium" expand="block" (click)="bookNow()">Confirm Booking {{listingName}}</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div align='center'> 
    <ion-button size="medium" expand="block" (click)="navBackToListingDetails()">Back To Listing Details</ion-button>
  </div>

</ion-content>