<ion-header>
  <ion-toolbar>
    <ion-title>Update Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div>
      <ion-button color="danger" (click)="navBackToRentalDetails()">Back to Existing Rentals</ion-button>
    </div>

    <b>Current Information </b>
    <p>Property Name: {{listing.name}}</p>
    <p>Property Location: {{listing.location}}</p>
    <p>Property Description: {{listing.description}}</p>
    <p>Property Price: R{{listing.price}}/night</p>

    <b>Update Information</b>
    <ion-item>
        <ion-label position="stacked">Property Name</ion-label>
        <ion-input type="text" [(ngModel)]="listing.name"> </ion-input>
      </ion-item>
    
      <ion-item>
          <ion-label position="stacked">Property Location</ion-label>
          <ion-input type="text" [(ngModel)]="listing.location"> </ion-input>
      </ion-item>
        
      <ion-item>
          <ion-label position="stacked">Property Description</ion-label>
          <ion-input type="text" [(ngModel)]="listing.description"> </ion-input>
      </ion-item>
    
      <ion-item>
          <ion-label position="stacked">Property Price (R/night)</ion-label>
          <ion-input type="text" [(ngModel)]="listing.price"> </ion-input>
      </ion-item>
  
      <ion-button color="danger" (click)="updateProperty()">Update Property</ion-button>
  </div>


</ion-content>