<ion-header>
  <ion-toolbar>
    <ion-title>Existing Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" align="center">

    <div>
      <ion-button color="danger" (click)="navToCreateRental()">Create New Listing</ion-button>
    </div>

    <div>
      <ion-button color="danger" (click)="navToProfile()">Profile</ion-button>
    </div>

    <div>
      <ion-button color="danger" (click)="logOff()">Log Out</ion-button>
    </div>

    <ion-card *ngFor="let listing of providerListings" (click)="navToListingDetails(listing)">
      <ion-slides pager="true">
        <ion-slide *ngFor="let img of listing.imgUrl">
          <img src="{{img}}" />
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col align-self: center>
              <ion-card-title>{{listing.name}}</ion-card-title>
              <ion-card-title>{{listing.location}}</ion-card-title>
              <ion-card-title>R {{listing.price}} per night</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-col push-md align-self: center>
        <ion-card-title>{{listing.description}}</ion-card-title>
      </ion-col>

    </ion-card>
  </div>
</ion-content>