<ion-header>
  <ion-toolbar>
    <ion-title>Explore Listings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-button color="danger" (click)="logOff()">Log Out</ion-button>
  <ion-button color="danger" (click)="navToProfile()">Profile</ion-button>
  <!--
  <div>
    <ion-card>
      <ion-slides pager="true">
        <ion-slide *ngFor="let img or listing.imgUrl">
          <img src="{{img}}" />
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col push-md align-self: center>
              <ion-card-subtitle>{{listing.location</ion-card-subtitle>
            <ion-card-title>{{listing.name}}</ion-card-title>
            </ion-col>
            <ion-col align-self: center>
              <ion-card-title>R{{listing.price}}/night</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-header>
      <ion-card-content>
        {{listing.description}}
      </ion-card-content>
    </ion-card>
  </div>
  -->
</ion-content>
